:root {
  --mainbackground:#eee;
  --subbackground:#ccc;
  --lightaccent:#ddd;
  --darkaccent:#aaa;
  --text:#333;
 }
 .in_d,
 .in_d>.demo-content {
  display:flex;
  justify-content:center;
 /*  margin:2em; */
  background-color:var(--mainbackground);
 }
 .in_d {
   margin:1em;
  flex-direction:column;
  align-items:center;
  border:1px solid;
  border-radius:.3em;
  font-size: 70%;
   max-width: 66%;
   margin-left: auto;
   margin-right: auto;
 }
 .in_d>.demo-content {
  flex-direction:row;
  flex-wrap:wrap;
  max-width: 100%;
 }
 .in_d div {
  border-style:1px solid;
  background-color:var(--subbackground)
 }
 .in_d .title {
   padding-top: 1em;
   padding-bottom: 0;
 }
 .in_d .input_warning {
  color: red;
 }
 .in_d h3, .in_d h4 {
 /*   padding: 0.4em; */
   margin-top: 0.5em;
   margin-bottom: 0.5em;
 }
 in_d .preset {
   border-radius: 4px;
 }
 in_d .table-wrap {
  padding:1em;
 /*   flex-shrink: 2; */
 }
 .params-wrap,
 .table-wrap,
.example-code-wrap{
  display:flex;
  flex-direction:column;
  align-items:center;
  border:1px solid;
  border-radius:.3em;
  margin:1em;
  flex-shrink: 2;
  flex-wrap: wrap;
  max-width: 100%;
   padding: 10px;
 }
 .params {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
   max-width: 100%;
 }
 .subtitle,
 legend {
  margin:0;
  padding:0;
  text-align: center;
 }
 .params>div {
  padding:.3em
 }
 .param-col {
  max-width:180px
 }
 legend {
  color:var(--text);
  background-color:var(--darkaccent);
  padding:5px 10px;
  border-radius:.3em;
  border:0;
  font-size:11px;
  max-width:300px;
  white-space:normal
 }
 select{
   margin:0.2em;
   border-radius:4px;
 }
 .index-wrap,
 .param-col,
 .radio {
  display:flex;
  flex-direction:column
 }
 .radio {
 /*   max-width:110px; */
  flex-direction:row;
  flex-wrap:wrap;
 }
 .qe-params-wrap {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   max-width: 100%;
 }
 .qe-params{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex-shrink: 2;
   max-width: 100%;
 }
 td,
 th {
  border:1px solid
 }
 table {
  border:0;
  display:block;
  max-height:300px;
  max-width:500px;
 /*  overflow-x:auto; */
  overflow-y:auto;
  font-size: 90%;
 }
 tr:nth-child(even) {
  background-color:var(--lightaccent)
 }
 td {
  max-width:150px;
  word-wrap:break-word
 }
 tr {
  background-color:var(--mainbackground)
 }
 tr:first-child{
   background-color: var(--darkaccent);
 }
.example-code-wrap {
  max-width: 90%;
  margin: 1em;
  overflow-x: auto;
  overflow-x: auto;
  text-align: center;
}
/* .example-code h3 {

} */
.example-code-wrap pre {
  text-align: left;
  padding: 1em;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

@media screen and (max-width: 1000px) {
  .in_d{
    max-width: 80%;
  }
}
 
 @media screen and (max-width: 850px) {
   table {
     max-width: 100%;
   }
   .in_d {
     max-width: 90%;
   }
 }
 
 @media screen and (max-width: 600px) {
   td {
     max-width: 100px;
   } 
   .in_d {
     max-width: 100%
   }
 }
 
 @media screen and (max-width: 550px) {
   td {
     max-width: 80px;
   }
 }
 
 @media screen and (max-width: 520px) {
   td {
 /*     max-width: 70px; */
     font-size: 90%;
   }
 }
 
 @media screen and (max-width: 400px) {
   td {
 /*     max-width: 40px; */
     font-size: 80%;
   }
 } 
 
